#experience {
  background-image: url('/assets/guler.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white; /* agar teks tetap terlihat */
}
